@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

#top-select-wrap {
	display: grid;
	width: 800px;
	height: 75px;
	margin: 0 auto;
	background-color: black;
	/*
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
	"brand region fuel"
	;
	*/
}

#top-select-wrap select {
	width: 80px;
	height: 35px;
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	border-radius: 20px;
	border: solid 1px gray;
}

#top-select-wrap option {
	
}

#brand {
	grid-area: brand;
}
#region {
	grid-area: region;
}
#fuel {
	grid-area: fuel;
}

#container-box {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 220px;
	margin: 0 auto;
	background-color: #D9D9D9;
	margin-bottom: 25px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
	"img info btn"
	;
}
#image img {
	grid-area: img;
	width: 300px;
	height: 180px;
}

button {
	grid-area: btn;
	width: 100px;
	height: 50px;
	margin: 0 auto;
	background-color: white;
	font-weight: 700;
	border-radius: 20px;
	border: solid 1px gray;
}

#brand {
	grid-area: brand;
	display: block;
    font-weight: 400;
    font-size: 20px;
    /*line-height: 30px;*/
    line-height: 60px;
    margin-left: 5px;
}

#name {
	grid-area: name;
	display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

#price {
	grid-area: price;
	font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 2px;
}

#info {
	margin: 0 auto;
}

#brand,
#name,
#price,
span
{
	
	text-align: center;
}

button span {
	font-weight: 700;
}

#info-brand {
	display: flex;
}